h1 {
    font-size: 46px;
}

body {
    background-image: url("../images/backgroundimage.png");
    height: 100vh;
}

img {
    height: 200px;
}

.game-container {
    position: relative;
    margin: auto;
    max-width: 980px;
    height: 90%;
    background-color: #fff;
    padding: 15px;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
